*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    display: flex;
}

.note {
    min-width: 50px;
    max-width: 100%;
    max-height: 100%;
    position: fixed;

    display: grid;
    grid-auto-flow: row;
}

.drag-bar {
    height: 20px;
    background-color: goldenrod;
    padding: 0 5px;

    display: flex;
    justify-content: right;

    /* Disable default browser touch controls */
    touch-action: none;
}

.note-btn {
    user-select: none;
    -webkit-user-select: none; /* Safari */
}

textarea {
    min-width: inherit;
    min-height: 15px;

    /* Prevents browser from fighting with custom resize logic when resize is attempted */
    --left-pos: 0px;
    --top-pos: 0px;
    max-width: calc(100vw - var(--left-pos));
    max-height: calc(100vh - var(--top-pos));
}

.main-btn-group {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

dialog {
    place-self: center;
}

.modal-btn-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
}